<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <!-- <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninja | <%= title%></title>
  </head> -->
  <body>
    <!-- Writting dynamic code that runs on the server. -->
    <!-- <% const name = 'mario' %> -->

    <!-- Use partials to render the navigator -->
    <%- include('../partials/nav.ejs') %>
    <!-- <nav>
      <div class="site-title">
        <a href="/">Blog Ninja</a>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav> -->

    <div class="blogs content">
      <h2>All Blogs</h2>
      <!-- <p><%= name %></p> -->
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <a class="single" href="/blogs/<%= blog._id %>">
        <h3 class="title"><%= blog.title%></h3>
        <p class="title"><%= blog.snippet%></p>
      </a>
      <br />
      <% }) %> <% } else { %>
      <p class="title">Ther are no blogs</p>
      <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
